  <footer class="bg-white dark:bg-gray-800 shadow p-4 transition-colors">
    <% const year = new Date().getFullYear() %>
    <p class="text-center font-bold">
      &copy; Bloggy <%=year%>
    </p>
  </footer>